# محیط مجازی
.venv/
venv/
ENV/
env/

# فایل‌های تنظیمات خصوصی
.env
*.json
firebase/

# فایل‌های لاگ
*.log

# فایل‌های کش پایتون
__pycache__/
*.py[cod]
*$py.class

# تنظیمات و کش IDE
.vscode/
.idea/

# فایل‌های سیستم
.DS_Store
Thumbs.db

# Static & Media جمع‌آوری شده
staticfiles/
media/


*.sqlite3
db.sqlite3


*/migrations/*.py
!*/migrations/__init__.py
